* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    padding: 0;
    position: relative;
}

button {
    background-color: #8BC34A;
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

html {
    background-color: #212121;
    height: 100%;
    text-align: center;
    width: 100%;
}

input[type=text] {
    border: 2px solid #8BC34A;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.display {
    background-color: #424242;
}

.flex {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: 100%;
    justify-content: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    width: 100%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50%;
}